<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interior Design</title>
    <!-- tailwindcss cdn -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- 폰트 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body {
            font-family: "Poppins", sans-serif;
        }
    </style>
</head>

<body>
    <!-- HEADER -->
    <header class=" fixed top-0 w-screen bg-gray-400 lg:hidden z-10">
        <div class="flex items-center h-16">
            <button id="openBtn" class="px-4 text-2xl text-white hover:bg-gray-200 hover:text-black">&#9776;
            </button>
            <h1 class="ml-2 text-2xl text-white font-semibold">Company Name</h1>
        </div>
    </header>

    <!-- SIDE BAR -->
    <nav id="sideBar" class="fixed top-0 left-0 w-80 h-screen bg-gray-400 px-4 hidden lg:block z-30">
        <div class="mt-12 h-48 px-4 flex flex-col justify-center">
            <h2 class="text-2xl text-white font-semibold">Company<br>Name</br></h2>
        </div>
        <ul>
            <li class="">
                <a href="#" class="block text-lg font-semibold text-white px-4 py-2 hover:bg-gray-200
                    hover:text-black">Home</a>
            </li>
            <li class="">
                <a href="#showcase" class="block text-lg font-semibold text-white px-4 py-2 hover:bg-gray-200
                    hover:text-black">Showcase</a>
            </li>
            <li class="">
                <a href="#services" class="block text-lg font-semibold text-white px-4 py-2 hover:bg-gray-200
                    hover:text-black">Services</a>
            </li>
            <li class="">
                <a href="#designers" class="block text-lg font-semibold text-white px-4 py-2 hover:bg-gray-200
                    hover:text-black">Designers</a>
            </li>
            <li class="">
                <a href="#packages" class="block text-lg font-semibold text-white px-4 py-2 hover:bg-gray-200
                    hover:text-black">Packages</a>
            </li>
            <li class="">
                <a href="#contact" class="block text-lg font-semibold text-white px-4 py-2 hover:bg-gray-200
                    hover:text-black">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- OVERLAY -->
    <div id="navOverlay" class="fixed inset-0 bg-black/80 z-20 hidden"></div>

    <!-- MAIN -->
    <main class="mt-24 max-w-screen-lg mx-auto px-4 lg:ml-80">
        <h1 class="text-7xl font-semibold my-8">Interior Design</h1>

        <!-- SHOWCASE -->
        <div id="showcase">
            <h2 class="text-gray-400 text-5xl font-semibold my-8">Showcase.
            </h2>
            <div class="w-16 border-t-8 border-t-gray-400 rounded"></div>
        </div>

        <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="1열">
                <img
                    class="cursor-pointer opacity-80 hover:opacity-100"
                    src="https://www.w3schools.com/w3images/kitchenconcrete.jpg"alt="kitchenconcrete"
                    onclick="openModal(this)"
                    >
                <img
                    class="mt-4 cursor-pointer opacity-80 hover:opacity-100"
                    src="https://www.w3schools.com/w3images/livingroom.jpg"alt="livingroom"
                    onclick="openModal(this)"
                    >
                <img
                    class="mt-4 cursor-pointer opacity-80 hover:opacity-100"
                    src="https://www.w3schools.com/w3images/diningroom.jpg"alt="diningroom"
                    onclick="openModal(this)"
                    >
                </div>
                
                <div class="2열">
                <img
                    class="cursor-pointer opacity-80 hover:opacity-100"
                    src="https://www.w3schools.com/w3images/atrium.jpg"alt="atrium"
                    onclick="openModal(this)"
                    >
                <img
                    class="mt-4 cursor-pointer opacity-80 hover:opacity-100"
                    src="https://www.w3schools.com/w3images/bedroom.jpg"alt="bedroom"
                    onclick="openModal(this)"
                    >
                <img
                    class="mt-4 cursor-pointer opacity-80 hover:opacity-100"
                    src="https://www.w3schools.com/w3images/livingroom2.jpg"alt="livingroom2"
                    onclick="openModal(this)"
                    >
            </div>
        </div>

        <!-- MODAL IMAGE -->
        <div id="modalOverlay" class="fixed inset-0 bg-black/80 z-40 hidden">
            <img id="modal" class="block w-3/r mt-24 mx-auto" src="" alt="">
        </div>

        <!-- SERVICES -->
        <div id="services" class="mt-24">
            <h2 class="text-gray-400 text-5xl my-8 font-semibold">Services.</h2>
            <div class="w-16  border-t-8 border-t-gray-400  rounded"></div>
        </div>

        <p class="my-4">
            We are a interior design service that focus on what's best for your home and what's best for you!
        </p>

        <p class="my-4">
            Some text about our services - what we do and what we offer.
            We are Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ad reiciendis, beatae, aut iusto ipsum blanditiis esse explicabo ex aperiam, pariatur a sapiente?
            Ratione molestiae autem voluptates asperiores consequuntur? Officia, optio!
        </p>

        <!-- Designers -->
        <div id="designers" class="mt-24">
            <h2 class="text-gray-400 text-5xl my-8 font-semibold">Designer.</h2>
            <div class="w-16  border-t-8 border-t-gray-400  rounded"></div>
        </div>

        <p class="my-4">
            The best team in the world.
        </p>
        <p class="my-4">
            We are Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Amet est officia eos iusto molestias eaque! Suscipit in ducimus non, tempora at a incidunt tenetur
            saepe iure repellendus mollitia? Alias, sed.
        </p>
        <p class="my-4">
            Our designers are thoughtfully chosen :
        </p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- 카드1 -->
            <div class="bg-gray-100">
                <img class="w-full" src="https://www.w3schools.com/w3images/team2.jpg" alt="John Doe">
                <div class="px-4 pb-4">
                    <h3 class="text-2xl my-4 font-semibold tracking-wide">John Doe</h3>
                    <p class="my-4 text-gray-400">CEO & Founder</p>
                    <p class="my-4">
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <button class="w-full p-2 text-white bg-gray-400 hover:bg-gray-500">Contact</button>
                </div>
            </div>

            <!-- 카드2 -->
            <div class="bg-gray-100">
                <img class="w-full" src="https://www.w3schools.com/w3images/team1.jpg" alt="Jane Doe">
                <div class="px-4 pb-4">
                    <h3 class="text-2xl my-4 font-semibold tracking-wide">Jane Doe</h3>
                    <p class="my-4 text-gray-400">Designer</p>
                    <p class="my-4">
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <button class="w-full p-2 text-white bg-gray-400 hover:bg-gray-500">Contact</button>
                </div>
            </div>
            
            <!-- 카드3 -->
            <div class="bg-gray-100">
                <img class="w-full" src="https://www.w3schools.com/w3images/team3.jpg" alt="Mike Ross">
                <div class="px-4 pb-4">
                    <h3 class="text-2xl my-4 font-semibold tracking-wide">Mike Ross</h3>
                    <p class="my-4 text-gray-400">Architect</p>
                    <p class="my-4">
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <button class="w-full p-2 text-white bg-gray-400 hover:bg-gray-500">Contact</button>
                </div>
            </div>
            </div>
        <!-- PACKAGES -->
        <div id="packages" class="mt-24">
            <h2 class="text-gray-400 text-5xl my-8 font-semibold">Package.</h2>
            <div class="w-16  border-t-8 border-t-gray-400  rounded"></div>
        </div>

        <p class="my-4">
            Some text our prices. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. At hic quae vitae rem sed similique aliquam tempore, natus est praesentium expedita.
            Aperiam quasi ex repudiandae quas eveniet expedita eius id.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- BASIC -->
            <ul class="bg-gray-100">
                <li class="bg-gray-600 p-8">
                    <h3 class="text-2xl text-white text-center">Basic</h3>
                </li>
                <li class="text-center p-4 border-b">Floorplanning</li>
                <li class="text-center p-4 border-b">10 hours support</li>
                <li class="text-center p-4 border-b">Photography</li>
                <li class="text-center p-4 border-b">20% furniture discount</li>
                <li class="text-center p-4 border-b">Good deals</li>
                <li class="p-4 border-b">
                    <span class="block text-center text-3xl my-4">$ 199</span>
                    <span class="block text-center text-gray-400">per room</span>
                </li>
                <li class="p-4 text-center">
                    <button class="px-4 py-2 text-white bg-gray-600 hover:bg-gray-700">
                        Sign up
                     </button>
                </li>
            </ul>

            <!-- PRO -->
            <ul class="bg-gray-100">
                <li class="bg-red-600 p-8">
                    <h3 class="text-2xl text-white text-center">Pro</h3>
                </li>
                <li class="text-center p-4 border-b">Floorplanning</li>
                <li class="text-center p-4 border-b">10 hours support</li>
                <li class="text-center p-4 border-b">Photography</li>
                <li class="text-center p-4 border-b">50% furniture discount</li>
                <li class="text-center p-4 border-b">Great deals</li>
                <li class="p-4 border-b">
                    <span class="block text-center text-3xl my-4">$ 249</span>
                    <span class="block text-center text-gray-400">per room</span>
                </li>
                <li class="p-4 text-center">
                    <button class="px-4 py-2 text-white bg-red-600 hover:bg-red-700">
                        Sign up
                     </button>
                </li>
            </ul>
        </div>

        <!-- Contact -->
        <div id="contact" class="mt-24">
            <h2 class="text-gray-400 text-5xl my-8 font-semibold">Contact.</h2>
            <div class="w-16  border-t-8 border-t-gray-400  rounded"></div>
        </div>

        <p class="my-4">
            Do you want us to style your home? Fill out the form and fill me in with the datails : )
            We love meeting new people!
        </p>

        <div class="my-12 grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- 전화기 -->
            <div class="flex flex-col items-center">
                <svg class="w-8 fill-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512
                              448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3
                              11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                </svg>
                <p class="mt-4 text-center">
                    032 123 4567<br>
                    010 1234 5678
                </p>
            </div>

            <!-- 마커 -->
            <div class="flex flex-col items-center">
                <svg class="w-6 fill-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path d="M384 192c0 87.4-117 243-168.3 307.2c-12.3 15.3-35.1 15.3-47.4 0C117 435 0 279.4 0 192C0
                            86 86 0 192 0S384 86 384 192z" />
                </svg>
                <p class="mt-4 text-center">
                    Gyeongwond-Daero <br>
                    Bupyeong-gu <br>
                    Incheon, KR
                </p>
            </div>

            <!-- 메일 -->
            <div class="flex flex-col items-center">
                <svg class="w-8 fill-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1
                                        0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2
                                        16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0
                                        64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" />
                </svg>
                <p class="mt-4 text-center">
                    interior_1@company.com <br>
                    interior_2@company.com
                </p>
            </div>
        </div>

        <img class="w-full" src="http://www.w3schools.com/w3images/map.jpg" alt="">
    </main>


    <!-- FOOTER -->
    <footer class="mt-24 p-12 bg-gray-200">
        <p class="text-right">
            Powered by <a href="#" class="underline">Company</a>
        </p>
    </footer>

    <script>
        // NavBar
        openBtn.addEventListener('click', function(){
            sideBar.classList.remove('hidden');
            console.log("a");
            navOverlay.classList.remove('hidden');
        })

        navOverlay.addEventListener('click', function(){
            this.classList.add('hidden');
            sideBar.classList.add('hidden');
        })

        // Modal Image
        function openModal(img){
            modal.src = img.src;
            modal.alt = img.alt;
            modalOverlay.classList.remove('hidden');
        }

        modalOverlay.addEventListener('click', function(){
            this.classList.add('hidden');
        })
    </script>

    
</body>
</html>