body {
    font-family: "Poppins", sans-serif;
    background-color: #D9CEBA;
}

header{
    background-color : #D9CEBA;
}
.sal{
    background-color : #D9CEBA;
}
.green{
    background-color: #2D402E;
}
.saltext{
    color : #D9CEBA;
}

.greentext{
    color : #2D402E;
}

.bluetext{
    color : #2A3C2C
}

.yellowtext{
    color : #F2DB66
}

.yellow{
    background-color : #F2DB66
}

.violet{
    background-color: #BCB0BF;
}

img{
    border-radius: 4rem;
}

.overlay{
    /* position : absolute; */
    /* top: 0; left : 0; */
    width : inherit; height : inherit;
    background-color: rgba(45, 64, 46, 0.9);
    color : #D9CEBA;
}

.footercolor{
    background-color: #AFB5A9;
}
